.fondo{

    background-image: url("../img/banner4.jpg");
    padding: 30%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    image-orientation: unset;
    
    }
    
    .letra{
    color:aliceblue;
    font-size: 50px;
    font-weight: bold;
    }
    
    a{
        text-decoration: none;
    }
    